<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Calibration</title>
    {% include "components/header.html" %}
    <link href="{{ url_for('static', filename='css/forms.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/page_calibration.css') }}" rel="stylesheet">
</head>

<body>
    <div class="horizontal-container">
        <div>
            <h1 class="title berkshire">Calibrate the Oracle</h1>
        </div>
        <form action="/calibrate/" method="post">
            <field>
                <label id="label-pre-prompt" for="pre-prompt">Pre-Prompt</label>
                <textarea rows=4" name="pre_prompt" id="pre-prompt" placeholder="{{default_pre_prompt}}">{{pre_prompt}}</textarea>
            </field>
            <field>
                <label id="label-prompt" for="prompt">Example Prompt</label>
                <input type="text" name="prompt" id="prompt" placeholder="Tell me a fortune." value="{{prompt}}"/>
            </field>
            <buttons>
                <input type="submit" value="Ask Fortune" />
                <a href="/calibrate/all"><button type="button">See Archive</button></a>
            </buttons>
        </form>
        {% if fortune %}
        <div>
            <p>{{fortune}}</p>
            
        </div>
        <div>
            <button hx-trigger="click" hx-post="/calibrate/save" hx-include="#pre-prompt, #prompt" hx-target="this" hx-swap="outerHTML"/>Save Prompts</button>
            <p id="save-response"></p>
        </div>
        {% endif %}
    </div>
</body>
<foot>
</foot>
</html>