<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Calibration</title>
    {% include "components/header.html" %}
    <link href="{{ url_for('static', filename='css/forms.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/page_calibration.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
</head>

<body>
    <div class="horizontal-container">
        <div>
            <h1 class="title berkshire">Calibrate the Oracle</h1>
        </div>
        <form action="/calibrate/" method="post">
            <field>
                <label id="label-prompt" for="name">Oracle Name</label>
                <input type="text" name="name" id="name" placeholder="Name of this fortune teller" value="{{name}}"/>
            </field>
            <field>
                <label id="label-prompt" for="tags">Tags</label>
                <input type="text" name="tags" id="tags" placeholder="hafo-safo, funny" value="{{tags}}"/>
            </field>
            <field>
                <label id="label-pre-prompt" for="pre-prompt">Pre-Prompt</label>
                <textarea rows="5" name="pre_prompt" id="pre-prompt" placeholder="{{default_pre_prompt}}">{{pre_prompt}}</textarea>
            </field>
            <field>
                <label id="label-prompt" for="prompt">Example Prompt</label>
                <input type="text" name="prompt" id="prompt" placeholder="Tell me a fortune." value="{{prompt}}"/>
            </field>
            <buttons>
                <input type="submit" value="Ask Fortune" />
                <a href="/calibrate/all"><button type="button">See Archive</button></a>
            </buttons>
        </form>
        {% if fortune %}
        <div>
            <p>{{fortune}}</p>
        </div>
        <div class="button-container">
	  <div class="audio-container center">
            <div id="play" class="blue audio-button expanding-button center" onclick="play()">
              <span class="material-icons">play_arrow</span>
            </div>
            <div id="pause" class="yellow audio-button expanding-button center hidden" onclick="pause()">
              <span class="material-icons">pause</span>
            </div>
            <audio id="audio" hidden autoplay controls src="data:audio/wav;base64, {{audio_string}}"></audio>
          </div>
            <button hx-trigger="click" hx-post="/calibrate/save" hx-include="#pre-prompt, #prompt, #name, #tags" hx-target="this" hx-swap="outerHTML"/>Save Prompt</button>
            <p id="save-response"></p>
        </div>
        {% endif %}
    </div>
</body>
<foot>
  <script>
    function play() {
        $('#audio').get(0).play();
        // Hide by setting display none
        $('#play').css('display', 'none');
        $('#pause').css('display', 'flex');
    }
    function pause(){
        $('#audio').get(0).pause();
        $('#play').css('display', 'flex');
        $('#pause').css('display', 'none');
    }
  </script>

</foot>
</html>
