<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>The Oracle</title>
    {% include "components/header.html" %}
</head>

<body>
    <div class="horizontal-container">
        <div>
            <h1 class="title berkshire">Words from the Oracle</h1>
        </div>
        <div hx-trigger="mouseenter once" class="audio-container">
            <audio autoplay controls src="data:audio/wav;base64, {{audio_string}}"></audio>
        </div>
        <div class="blob borel">
            <p>{{fortune}}</p>
        </div>
    </div>
</body>
<foot>
    <div hidden hx-get="/generate/" hx-swap="innerHTML" hx-trigger="load">Generating new fortune...</div>
</foot>

</html>