.horizontal-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 20%;
    margin-right: 20%;
}
.horizontal-container > div {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.box {
    margin: 1rem;
    padding: 1rem;
    background-color: rgba(0,0,0,.03);
    border: 1px dotted rgba(0,0,0,.5);
    border-radius: .25rem;
}
.title{
    font-size: 3rem;
}
.blob{
    font-size: 1.3rem;
    line-height: 3rem;
}

.audio-container{
    width: 80%;
}
.audio-container audio{
    width: 100%;
}
buttons, .buttons{
    display: flex;
    justify-content: space-around;
}

button,.button{
    font-size: 1rem;
    padding: 1rem;
    border-radius: .5rem;
    border: 1px solid rgba(0,0,0,.5);
    background-color: rgb(10,155,219,.8);
    color: white;
    cursor: pointer;
    margin: auto;
    transition: all .15s;
}
button:hover,.button:hover{
    background-color: rgb(10,135,219,.5);
}
button:active,.button:active{
    background-color: rgb(10,135,219,1);
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
    .horizontal-container{
        margin-left: 6%;
        margin-right: 6%;
    }
}

@font-face {
    font-family: 'tangerine';
    src: url('/static/fonts/Tangerine-Regular.ttf');
}
.tangerine{
    font-family: 'tangerine';
}
@font-face {
    font-family: 'borel';
    src: url('/static/fonts/Borel-Regular.ttf');
}
.borel{
    font-family: 'borel';
}
@font-face {
    font-family: 'berkshire';
    src: url('/static/fonts/BerkshireSwash-Regular.ttf');
}
.berkshire{
    font-family: 'berkshire';
}

